<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Blog Pessoal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="container">

    <h1>Blog Pessoal</h1>

    <form method="POST" action="{{ url_for('main.add_post') }}">
        <label>Título</label>
        <input name="title" placeholder="Digite o título">

        <label>Autor</label>
        <input name="author" placeholder="Seu nome">

        <label>Conteúdo</label>
        <textarea name="content" placeholder="Escreva seu post..."></textarea>

        <button type="submit">Postar</button>
    </form>

    <hr>

    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>

            <h4>
                postado por: <i>{{ post.author }}</i>
            </h4>

            <p>{{ post.content }}</p>

            <div class="actions">
                <a href="{{ url_for('main.edit_post', id=post.id) }}">Editar</a>
                <a href="{{ url_for('main.delete_post', id=post.id) }}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
            </div>
        </div>
    {% endfor %}

</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>